## Import libraries

In [1]:
%conda install pymongo
import boto3
import pandas as pd
from io import BytesIO, StringIO
from botocore.exceptions import NoCredentialsError, ClientError
import warnings
warnings.simplefilter('ignore')

Retrieving notices: ...working... done
Channels:
 - conda-forge
 - nvidia
 - pytorch
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 24.9.2
    latest version: 24.11.2

Please update conda by running

    $ conda update -n base -c conda-forge conda



## Package Plan ##

  environment location: /home/ec2-user/anaconda3/envs/python3

  added / updated specs:
    - pymongo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    dnspython-2.7.0            |     pyhff2d567_1         168 KB  conda-forge
    openssl-3.4.0              |       h7b32b05_1         2.8 MB  conda-forge
    pymongo-4.10.1             |  py310hf71b8c6_0         1.8 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following NEW packages will be INSTALLED:

  dnspython          conda-forge/noarch::dnspython-2.7.0-pyhff2d567_1
  pymongo            conda-forge/linux-64::pymongo-4.10.1-py310hf71b8c6_0

The following packages will be UPDATED:

  ca-certificates                      2024.8.30-hbcca054_0 --> 2024.12.14-hbcca054_0
  certifi                            2024.8.30-pyhd8ed1ab_0 --> 2024.12.14-pyhd8ed1ab_0
  openssl                                  3.4.0-hb9d3cd8_0 --> 3.4.0-h7b32b05_1



Downloading and Extracting Packages:
openssl-3.4.0        | 2.8 MB    |                                       |   0%
pymongo-4.10.1       | 1.8 MB    |                                       |   0%

dnspython-2.7.0      | 168 KB    |                                       |   0%

dnspython-2.7.0      | 168 KB    | ##################################### | 100%

openssl-3.4.0        | 2.8 MB    | ##################################### | 100%
pymongo-4.10.1       | 1.8 MB    | ##################################### | 100%




Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

Defines a function `read_csv_from_s3_as_df` to fetch a CSV file from an S3 bucket, read it into a pandas DataFrame, and uses the function to load `historical_data.csv` into `airport_location` for further processing.

In [2]:
def read_csv_from_s3_as_df(bucket, key):
    try:
        # Create an S3 client
        s3 = boto3.client('s3')

        # Get the object from S3
        obj = s3.get_object(Bucket=bucket, Key=key)

        # Read the contents of the file into a pandas DataFrame
        df_pre_clean = pd.read_csv(BytesIO(obj['Body'].read()), header=0)

        return df_pre_clean
    except NoCredentialsError:
        print("Credentials not available")
    except ClientError as e:
        print(f"An error occurred: {e}")
    except Exception as e:
        print(f"An error occurred during DataFrame conversion: {e}")


bucket = 'big-data-team1-bucket'
key = 'cleaned-data/historical_data.csv'
airport_location = read_csv_from_s3_as_df(bucket, key)
if airport_location is not None:
    print(airport_location)
else:
    print("No data returned or error occurred")

         flightdate  day_of_week          airline tail_number dep_airport  \
0        2023-01-02            1     Endeavor Air      N605LR         BDL
1        2023-01-03            2     Endeavor Air      N605LR         BDL
2        2023-01-04            3     Endeavor Air      N331PQ         BDL
3        2023-01-05            4     Endeavor Air      N906XJ         BDL
4        2023-01-06            5     Endeavor Air      N337PQ         BDL
...             ...          ...              ...         ...         ...
6743368  2023-12-31            7  JetBlue Airways      N903JB         SJU
6743369  2023-12-31            7  JetBlue Airways      N535JB         MCO
6743370  2023-12-31            7  JetBlue Airways      N354JB         PHL
6743371  2023-12-31            7  JetBlue Airways      N768JB         PBI
6743372  2023-12-31            7  JetBlue Airways      N547JB         BDL

                           dep_cityname deptime_label  dep_delay  \
0                          Hartford, CT       Morning         -3
1                          Hartford, CT       Morning         -5
2                          Hartford, CT       Morning         -5
3                          Hartford, CT       Morning         -6
4                          Hartford, CT       Morning         -1
...                                 ...           ...        ...
6743368                    San Juan, PR       Morning          4
6743369                     Orlando, FL       Evening        113
6743370                Philadelphia, PA     Afternoon        -11
6743371  West Palm Beach/Palm Beach, FL     Afternoon         -7
6743372                    Hartford, CT       Morning         -8

         dep_delay_tag dep_delay_type  ...    model aicraft_age  tavg  tmin  \
0                    0      Low <5min  ...      CRJ          16   2.9  -2.1
1                    0      Low <5min  ...      CRJ          16   1.8  -1.6
2                    0      Low <5min  ...      CRJ          10   5.2   3.9
3                    0      Low <5min  ...      CRJ          17   6.8   3.9
4                    0      Low <5min  ...      CRJ          10   3.3   0.0
...                ...            ...  ...      ...         ...   ...   ...
6743368              1      Low <5min  ...     A321          11  25.8  23.9
6743369              1   Hight >60min  ...     A320          22  12.4   6.1
6743370              0      Low <5min  ...  190/195          11   6.1   2.8
6743371              0      Low <5min  ...     A320          15  14.2   8.3
6743372              0      Low <5min  ...     A320          22   2.7   1.7

         tmax  prcp  snow   wdir  wspd    pres
0         8.3   0.0   0.0  338.0   3.2  1019.1
1         4.4  10.7   0.0    3.0   3.6  1015.2
2         8.3   6.6   0.0    1.0   7.2  1011.1
3         7.8   0.8   0.0   14.0  13.7  1014.8
4         3.9   9.7   0.0    0.0   5.8  1016.1
...       ...   ...   ...    ...   ...     ...
6743368  28.3   1.5   0.0   37.0   8.3  1017.8
6743369  18.9   0.0   0.0  325.0   5.6  1023.8
6743370   8.3   0.0   0.0  286.0   9.7  1015.5
6743371  21.1   0.0   0.0  335.0   4.0  1023.3
6743372   3.9   0.0   0.0  312.0  14.0  1013.3

[6743373 rows x 32 columns]

Displays the data types of each column in the `airport_location` DataFrame to provide an overview of its structure.

In [3]:
airport_location.dtypes

flightdate             object
day_of_week             int64
airline                object
tail_number            object
dep_airport            object
dep_cityname           object
deptime_label          object
dep_delay               int64
dep_delay_tag           int64
dep_delay_type         object
arr_airport            object
arr_cityname           object
arr_delay               int64
arr_delay_type         object
flight_duration         int64
distance_type          object
delay_carrier           int64
delay_weather           int64
delay_nas               int64
delay_security          int64
delay_lastaircraft      int64
manufacturer           object
model                  object
aicraft_age             int64
tavg                  float64
tmin                  float64
tmax                  float64
prcp                  float64
snow                  float64
wdir                  float64
wspd                  float64
pres                  float64
dtype: object

Cleans and preprocesses the `airport_location` DataFrame by renaming columns, converting data types, and ensuring data consistency.

In [4]:
# Define the correct column names
correct_column_names = {
    'flightdate': 'FlightDate',
    'airline': 'Airline',
    'tail_number': 'Tail_Number',
    'dep_airport': 'Dep_Airport',
    'dep_cityname': 'Dep_CityName',
    'deptime_label': 'DepTime_label',
    'dep_delay': 'Dep_Delay',
    'dep_delay_tag': 'Dep_Delay_Tag',
    'dep_delay_type': 'Dep_Delay_Type',
    'arr_airport': 'Arr_Airport',
    'arr_cityname': 'Arr_CityName',
    'arr_delay': 'Arr_Delay',
    'arr_delay_type': 'Arr_Delay_Type',
    'flight_duration': 'Flight_Duration',
    'distance_type': 'Distance_type',
    'delay_carrier': 'Delay_Carrier',
    'delay_weather': 'Delay_Weather',
    'delay_nas': 'Delay_NAS',
    'delay_security': 'Delay_Security',
    'delay_lastaircraft': 'Delay_LastAircraft',
    'manufacturer': 'Manufacturer',
    'model': 'Model',
    'aicraft_age': 'Aicraft_age'
}

# Rename columns in the DataFrame
airport_location.rename(columns=correct_column_names, inplace=True)

# Convert FlightDate to datetime
airport_location['FlightDate'] = pd.to_datetime(airport_location['FlightDate'], errors='coerce')

# Convert relevant columns to categorical
categorical_columns = [
    'Airline', 'Tail_Number', 'Dep_Airport', 'Dep_CityName',
    'DepTime_label', 'Dep_Delay_Type', 'Arr_Airport', 'Arr_CityName',
    'Arr_Delay_Type', 'Distance_type', 'Manufacturer', 'Model'
]
for col in categorical_columns:
    airport_location[col] = airport_location[col].astype('category')

# Ensure delay columns are numeric (float to handle potential NaNs)
numeric_columns = [
    'Dep_Delay', 'Dep_Delay_Tag', 'Arr_Delay', 'Flight_Duration', 
    'Delay_Carrier', 'Delay_Weather', 'Delay_NAS', 'Delay_Security', 
    'Delay_LastAircraft', 'Aicraft_age'
]
for col in numeric_columns:
    airport_location[col] = pd.to_numeric(airport_location[col], errors='coerce')

# Verify the corrected DataFrame
print(airport_location.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6743373 entries, 0 to 6743372
Data columns (total 32 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          datetime64[ns]
 1   day_of_week         int64
 2   Airline             category
 3   Tail_Number         category
 4   Dep_Airport         category
 5   Dep_CityName        category
 6   DepTime_label       category
 7   Dep_Delay           int64
 8   Dep_Delay_Tag       int64
 9   Dep_Delay_Type      category
 10  Arr_Airport         category
 11  Arr_CityName        category
 12  Arr_Delay           int64
 13  Arr_Delay_Type      category
 14  Flight_Duration     int64
 15  Distance_type       category
 16  Delay_Carrier       int64
 17  Delay_Weather       int64
 18  Delay_NAS           int64
 19  Delay_Security      int64
 20  Delay_LastAircraft  int64
 21  Manufacturer        category
 22  Model               category
 23  Aicraft_age         int64
 24  tavg                float64
 25  tmin                float64
 26  tmax                float64
 27  prcp                float64
 28  snow                float64
 29  wdir                float64
 30  wspd                float64
 31  pres                float64
dtypes: category(12), datetime64[ns](1), float64(8), int64(11)
memory usage: 1.1 GB
None

Filters the `airport_location` DataFrame for rows where `Dep_Airport` is `'LAX'` and displays the first few rows of the filtered data.

In [5]:
# Filter the dataframe for LAX airport in the Dep_Airport column
lax_data = airport_location[airport_location['Dep_Airport'] == 'LAX']

# Display the first few rows of the filtered dataframe (optional)
lax_data.head()

,FlightDate,day_of_week,Airline,Tail_Number,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,...,Model,Aicraft_age,tavg,tmin,tmax,prcp,snow,wdir,wspd,pres
16668,2023-01-01,7,American Airlines Inc.,N101NN,LAX,"Los Angeles, CA",Morning,-2,0,Low <5min,...,A321,11,14.3,12.2,16.1,2.5,0.0,273.0,23.0,1007.9
16669,2023-01-02,1,American Airlines Inc.,N116AN,LAX,"Los Angeles, CA",Morning,-6,0,Low <5min,...,A321,10,12.3,7.8,14.4,0.8,0.0,31.0,9.0,1015.0
16670,2023-01-03,2,American Airlines Inc.,N107NN,LAX,"Los Angeles, CA",Morning,-2,0,Low <5min,...,A321,10,11.9,10.0,14.4,1.3,0.0,69.0,19.8,1017.1
16671,2023-01-04,3,American Airlines Inc.,N102NN,LAX,"Los Angeles, CA",Morning,-3,0,Low <5min,...,A321,11,14.4,13.9,16.1,13.7,0.0,99.0,16.9,1018.2
16672,2023-01-05,4,American Airlines Inc.,N110AN,LAX,"Los Angeles, CA",Morning,-3,0,Low <5min,...,A321,10,14.6,12.8,16.7,27.2,0.0,224.0,20.9,1018.4

Resets the index of the `lax_data` DataFrame and confirms the operation by displaying the first few rows.

In [6]:
# Reset the index of the dataframe
lax_data.reset_index(drop=True, inplace=True)
 
# Display the first few rows to confirm the index has been reset
lax_data.head()

,FlightDate,day_of_week,Airline,Tail_Number,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,...,Model,Aicraft_age,tavg,tmin,tmax,prcp,snow,wdir,wspd,pres
0,2023-01-01,7,American Airlines Inc.,N101NN,LAX,"Los Angeles, CA",Morning,-2,0,Low <5min,...,A321,11,14.3,12.2,16.1,2.5,0.0,273.0,23.0,1007.9
1,2023-01-02,1,American Airlines Inc.,N116AN,LAX,"Los Angeles, CA",Morning,-6,0,Low <5min,...,A321,10,12.3,7.8,14.4,0.8,0.0,31.0,9.0,1015.0
2,2023-01-03,2,American Airlines Inc.,N107NN,LAX,"Los Angeles, CA",Morning,-2,0,Low <5min,...,A321,10,11.9,10.0,14.4,1.3,0.0,69.0,19.8,1017.1
3,2023-01-04,3,American Airlines Inc.,N102NN,LAX,"Los Angeles, CA",Morning,-3,0,Low <5min,...,A321,11,14.4,13.9,16.1,13.7,0.0,99.0,16.9,1018.2
4,2023-01-05,4,American Airlines Inc.,N110AN,LAX,"Los Angeles, CA",Morning,-3,0,Low <5min,...,A321,10,14.6,12.8,16.7,27.2,0.0,224.0,20.9,1018.4

Splits the `Dep_CityName` column into `Dep_City` and `Dep_State`, drops the original column, and verifies the changes by displaying the first few rows.

In [7]:
# Split Dep_CityName into City and State columns
lax_data[['Dep_City', 'Dep_State']] = lax_data['Dep_CityName'].str.split(', ', expand=True)

# Drop the original Dep_CityName column if it's no longer needed
lax_data.drop(columns=['Dep_CityName'], inplace=True)

# Display the first few rows to verify the changes
lax_data.head()

,FlightDate,day_of_week,Airline,Tail_Number,Dep_Airport,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,Arr_Airport,...,tavg,tmin,tmax,prcp,snow,wdir,wspd,pres,Dep_City,Dep_State
0,2023-01-01,7,American Airlines Inc.,N101NN,LAX,Morning,-2,0,Low <5min,JFK,...,14.3,12.2,16.1,2.5,0.0,273.0,23.0,1007.9,Los Angeles,CA
1,2023-01-02,1,American Airlines Inc.,N116AN,LAX,Morning,-6,0,Low <5min,JFK,...,12.3,7.8,14.4,0.8,0.0,31.0,9.0,1015.0,Los Angeles,CA
2,2023-01-03,2,American Airlines Inc.,N107NN,LAX,Morning,-2,0,Low <5min,JFK,...,11.9,10.0,14.4,1.3,0.0,69.0,19.8,1017.1,Los Angeles,CA
3,2023-01-04,3,American Airlines Inc.,N102NN,LAX,Morning,-3,0,Low <5min,JFK,...,14.4,13.9,16.1,13.7,0.0,99.0,16.9,1018.2,Los Angeles,CA
4,2023-01-05,4,American Airlines Inc.,N110AN,LAX,Morning,-3,0,Low <5min,JFK,...,14.6,12.8,16.7,27.2,0.0,224.0,20.9,1018.4,Los Angeles,CA

Splits the `Arr_CityName` column into `Arr_City` and `Arr_State`, drops the original column, and verifies the changes by displaying the first few rows.

In [8]:
# Split Arr_CityName into City and State columns
lax_data[['Arr_City', 'Arr_State']] = lax_data['Arr_CityName'].str.split(', ', expand=True)

# Drop the original Arr_CityName column if it's no longer needed
lax_data.drop(columns=['Arr_CityName'], inplace=True)

# Display the first few rows to verify the changes
lax_data.head()

,FlightDate,day_of_week,Airline,Tail_Number,Dep_Airport,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,Arr_Airport,...,tmax,prcp,snow,wdir,wspd,pres,Dep_City,Dep_State,Arr_City,Arr_State
0,2023-01-01,7,American Airlines Inc.,N101NN,LAX,Morning,-2,0,Low <5min,JFK,...,16.1,2.5,0.0,273.0,23.0,1007.9,Los Angeles,CA,New York,NY
1,2023-01-02,1,American Airlines Inc.,N116AN,LAX,Morning,-6,0,Low <5min,JFK,...,14.4,0.8,0.0,31.0,9.0,1015.0,Los Angeles,CA,New York,NY
2,2023-01-03,2,American Airlines Inc.,N107NN,LAX,Morning,-2,0,Low <5min,JFK,...,14.4,1.3,0.0,69.0,19.8,1017.1,Los Angeles,CA,New York,NY
3,2023-01-04,3,American Airlines Inc.,N102NN,LAX,Morning,-3,0,Low <5min,JFK,...,16.1,13.7,0.0,99.0,16.9,1018.2,Los Angeles,CA,New York,NY
4,2023-01-05,4,American Airlines Inc.,N110AN,LAX,Morning,-3,0,Low <5min,JFK,...,16.7,27.2,0.0,224.0,20.9,1018.4,Los Angeles,CA,New York,NY

Reads the `airports_geolocation.csv` file from the specified S3 bucket.

In [9]:
key = 'raw-data/airports_geolocation.csv'
airport_location = read_csv_from_s3_as_df(bucket, key)
if airport_location is not None:
    print(airport_location)
else:
    print("No data returned or error occurred")

    IATA_CODE                                AIRPORT  \
0         ABE    Lehigh Valley International Airport
1         ABI               Abilene Regional Airport
2         ABQ      Albuquerque International Sunport
3         ABR              Aberdeen Regional Airport
4         ABY     Southwest Georgia Regional Airport
..        ...                                    ...
359       XNA    Northwest Arkansas Regional Airport
360       XWA  Williston Basin International Airport
361       YAK                        Yakutat Airport
362       YKM                    Yakima Air Terminal
363       YUM             Yuma International Airport

                               CITY STATE COUNTRY  LATITUDE  LONGITUDE
0                         Allentown    PA     USA  40.65236  -75.44040
1                           Abilene    TX     USA  32.41132  -99.68190
2                       Albuquerque    NM     USA  35.04022 -106.60919
3                          Aberdeen    SD     USA  45.44906  -98.42183
4                            Albany    GA     USA  31.53552  -84.19447
..                              ...   ...     ...       ...        ...
359  Fayetteville/Springdale/Rogers    AR     USA  36.28187  -94.30681
360                       Williston    ND     USA  48.14700 -103.61800
361                         Yakutat    AK     USA  59.50336 -139.66023
362                          Yakima    WA     USA  46.56670 -120.53330
363                            Yuma    AZ     USA  32.65658 -114.60597

[364 rows x 7 columns]

Joins `lax_data` with geolocation data from `airport_location` for departure and arrival airports, adds GeoJSON points for mapping, and removes redundant columns for clarity.

In [10]:
# Join lax_data with airport_location for departure airport
lax_data = lax_data.merge(
    airport_location[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
    left_on='Dep_Airport',
    right_on='IATA_CODE',
    how='left'
).rename(columns={'LATITUDE': 'Dep_Latitude', 'LONGITUDE': 'Dep_Longitude'})

# Join lax_data with airport_location for arrival airport
lax_data = lax_data.merge(
    airport_location[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
    left_on='Arr_Airport',
    right_on='IATA_CODE',
    how='left'
).rename(columns={'LATITUDE': 'Arr_Latitude', 'LONGITUDE': 'Arr_Longitude'})

# Drop redundant columns
lax_data.drop(columns=['IATA_CODE_x', 'IATA_CODE_y'], inplace=True)

# Create GeoJSON points for Dep_GeoPoint and Arr_GeoPoint
lax_data['Dep_GeoPoint'] = lax_data.apply(
    lambda row: {
        "type": "Point",
        "coordinates": [row['Dep_Longitude'], row['Dep_Latitude']]
    } if pd.notnull(row['Dep_Longitude']) and pd.notnull(row['Dep_Latitude']) else None,
    axis=1
)

lax_data['Arr_GeoPoint'] = lax_data.apply(
    lambda row: {
        "type": "Point",
        "coordinates": [row['Arr_Longitude'], row['Arr_Latitude']]
    } if pd.notnull(row['Arr_Longitude']) and pd.notnull(row['Arr_Latitude']) else None,
    axis=1
)

# Verify the resulting DataFrame
print(lax_data[['Dep_Airport', 'Dep_GeoPoint', 'Arr_Airport', 'Arr_GeoPoint']].head())

# Drop unnecessary columns (optional)
lax_data.drop(columns=['Dep_Latitude', 'Dep_Longitude', 'Arr_Latitude', 'Arr_Longitude'], inplace=True)

  Dep_Airport                                       Dep_GeoPoint Arr_Airport  \
0         LAX  {'type': 'Point', 'coordinates': [-118.40807, ...         JFK
1         LAX  {'type': 'Point', 'coordinates': [-118.40807, ...         JFK
2         LAX  {'type': 'Point', 'coordinates': [-118.40807, ...         JFK
3         LAX  {'type': 'Point', 'coordinates': [-118.40807, ...         JFK
4         LAX  {'type': 'Point', 'coordinates': [-118.40807, ...         JFK

                                        Arr_GeoPoint
0  {'type': 'Point', 'coordinates': [-73.77893, 4...
1  {'type': 'Point', 'coordinates': [-73.77893, 4...
2  {'type': 'Point', 'coordinates': [-73.77893, 4...
3  {'type': 'Point', 'coordinates': [-73.77893, 4...
4  {'type': 'Point', 'coordinates': [-73.77893, 4...

Connects to MongoDB, clears existing data in the specified collection, and uploads `lax_data` in batches with GeoJSON points for efficient handling and visualization.

In [121]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb+srv://s3978598:minhphan123@eeet2574.n8www.mongodb.net/?retryWrites=true&w=majority&appName=EEET2574")
db = client["Airport_Historial_Visualisation"]
collection_name = "LAX"
collection = db[collection_name]

# Convert DataFrame to a list of dictionaries
data = lax_data.to_dict("records")

# Batch size for insertion
batch_size = 20000

# Clear existing data in the collection
collection.delete_many({})

# Insert data in batches
for i in range(0, len(data), batch_size):
    batch = data[i:i + batch_size]
    collection.insert_many(batch)
    print(f"Inserted batch {i // batch_size + 1}/{-(-len(data) // batch_size)}")

print("Data uploaded successfully with GeoPoints!")

Inserted batch 1/10
Inserted batch 2/10
Inserted batch 3/10
Inserted batch 4/10
Inserted batch 5/10
Inserted batch 6/10
Inserted batch 7/10
Inserted batch 8/10
Inserted batch 9/10
Inserted batch 10/10
Data uploaded successfully with GeoPoints!

## MongoDB Charts Dashboard

1. [LAX Overview Dashboard](https://charts.mongodb.com/charts-big-data-for-engineering-lzggfsp/public/dashboards/2b54cb6f-21e0-4cba-b024-a898e3606f0f?fbclid=IwZXh0bgNhZW0CMTAAAR3SBTXZwQnorRUTwApbq4Z5FwMAzy2O3D82_Zm7hFOw6NYDMW2UijQFqeI_aem_TsqlkYcRpEPGmuLCP3pdYw)

2. [LAX Weather Impact Dashboard](https://charts.mongodb.com/charts-big-data-for-engineering-lzggfsp/public/dashboards/2240afae-d905-4c0e-ad54-959e0f0a83ab?fbclid=IwZXh0bgNhZW0CMTAAAR3H2n8Hnx7prUGv0Ty__CRx8lBfiO88N0Sa-wPp-ThXvG1m6vdTFWIknnU_aem_ZSH8xQzG7SYU3poAiOjNiw)

3. [LAX Performance Benchmark Dashboard](https://charts.mongodb.com/charts-big-data-for-engineering-lzggfsp/public/dashboards/40528c4b-1ef1-4a0b-ae93-d3e20911d42b?fbclid=IwZXh0bgNhZW0CMTAAAR3H2n8Hnx7prUGv0Ty__CRx8lBfiO88N0Sa-wPp-ThXvG1m6vdTFWIknnU_aem_ZSH8xQzG7SYU3poAiOjNiw)

4. [LAX Time Series Dashboard](https://charts.mongodb.com/charts-big-data-for-engineering-lzggfsp/public/dashboards/5c7d6348-0dd8-4b77-a39b-18e75e3c3b44?fbclid=IwZXh0bgNhZW0CMTAAAR0kTTF7D3HchOVbwhk-3JTARp5I6U-lBYCHiZ-hWSpHinfgTprVWfLzAy8_aem_oH6mf1EOlemXOgAUZePIPg)

5. [LAX Geographical Insights Dashboard](https://charts.mongodb.com/charts-big-data-for-engineering-lzggfsp/public/dashboards/b8929560-fa61-454e-95da-6ecc6190b764?fbclid=IwZXh0bgNhZW0CMTAAAR3lp61_82Zx_S2QHsDcdZRLtbtkJ9FRlw94QLAJRo69vY73N3NN-adq_BA_aem_qhm9l3CXJibgx7RiAskkxg)

6. [LAX Aircraft Analysis Dashboard](https://charts.mongodb.com/charts-big-data-for-engineering-lzggfsp/public/dashboards/9f1b8081-1940-4b85-b5f1-84120b0c31c1?fbclid=IwZXh0bgNhZW0CMTAAAR3lp61_82Zx_S2QHsDcdZRLtbtkJ9FRlw94QLAJRo69vY73N3NN-adq_BA_aem_qhm9l3CXJibgx7RiAskkxg)